@import "quasar.variables";

:root {
  --color-light: #fff;  // white
  --color-french: #b3e5fc; // light-blue-2
  --color-malibu: #64b5f6; // blue-4
  --color-primary: #1976d2; // primary
  --color-curious: #1e88e5; // blue-7
  --color-indigo: #284669; // indigo
  //--color-indigo: #01579b; // light-blue-10
  --color-thunderbird: #b71c1c; // red-10
  --color-fruit: #4caf50; // green
  --color-yellow: #fbc02d; // yellow-8
  --color-mango: #ff6d00; // orange-14
  --color-shark: #546e7a; // blue-grey-7
  --color-alabaster: #424242; // grey-9
  --color-shaft: #212121; // grey-10
  --color-black: #1d1d1d; // dark
  --color-separation: rgba(0, 0, 0, .24);
}
